@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

/* fontes */
@font-face {
    font-family: 'Passion One';
    src: url('fontes/PassionOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Sriracha';
    src: url('fontes/Sriracha-Regular.ttf') format('truetype');
}

:root{
    --fonte-titulo: 'Passion One', cursive;
    --fonte-paragrafos: 'Sriracha', cursive;
}

/* cabecalho */
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0px;
}

header h1{
    font-family: var(--fonte-titulo);
    font-weight: normal;
    font-size: 11em;
}

header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

header a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

/* conteudo */
.normal p{/* paragrafos normais*/
    font-family: var(--fonte-paragrafos);
    padding: 30px;
    margin: 30px 0px 130px 0px;
    font-size: 4em;
    line-height: 2em;
}

.paraimg{/* paragrafos das imagens */
    font-family: var(--fonte-paragrafos);
    font-size: 4em;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.479);
    background-color: rgba(0, 0, 0, 0.397);
    margin: 30px;
    max-width: 760px;
    min-width: 320px;

    position: absolute;
    left: 0%;
    top: 10%;
}

#img1{/* imagem d fundo 1 */
    background-image: url('imagens/background001.jpg');
}

#img2{/* imagem de fundo 2 */
    background-image:  url('imagens/background002.jpg');
}

.imagem{/* section das imagens */
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    height: 1100px;
    position: relative;
}

footer{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

footer p{
    padding: 10px 0px;
}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}