@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

.container{
    display: flex;
}

.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: 100vh;
    padding: 10px;
}

.cell img{
    position: relative;
    width: 300px;
}

.screen{
    position: absolute;
}

.screen iframe{
    height: 457px;
    margin-top: 7px;
}

.outros iframe{
    height: 400px;
    margin-top: 7px;
    overflow: hidden;
}


.nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.link img{
    width: 50px;
    border-radius: 30px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.445);
}

.link img:hover{
    border: 2px solid white;
    transition: 0.7s;
}


@media (max-width: 424px){
    .cell img{
        width: 200px;
    }

    .link img{
    width: 40px;
    border-radius: 30px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.445);
    }
}